---
import { Image } from "astro:assets";
import Card from "./Card.astro";
import * as firstCardMarkdown from "../content/first-card.md";

const featuresMobile = {
  first: {
    title: "Convirtiendo sueños de viaje en realidad",
    text: "Con más de 30 años de experiencia como agente de viajes, he dedicado mi carrera a crear viajes inolvidables que van más allá de lo común.",
    image: "/plain-view.webp",
    svg: "/airplain-route-mobile.svg",
  },
  second: {
    title: "¿Por qué confiar en mí para tus planes de viaje?",
    text: "30+ Años de Experiencia: Más de tres décadas en la industria me han equipado con conocimientos y conexiones invaluables en todo el mundo.",
    image: "/02.webp",
    svg: "/airplain-route-mobile.svg",
  },
  third: {
    title: "Más que solo reservas",
    text: "Al trabajar conmigo, no solo contratas a una agente de viajes: ganas una compañera dedicada que escucha tus sueños, planifica cada detalle y te acompaña en cada paso del camino.",
    image: "/03.webp",
    svg: "/airplain-route-mobile.svg",
  },
  fourth: {
    title: "¡Emprendamos juntos tu próxima aventura!",
    text: "Ya sea que sueñes con una escapada romántica en París, un safari lleno de aventuras en Tanzania o un crucero familiar por el Mediterráneo, estoy aquí para hacerlo realidad.",
    image: "/04.webp",
    svg: "/airplain-route-mobile.svg",
  },
};
---

<section class="mx-auto w-full max-w-6xl px-4 md:mt-48">
  <div class="flex justify-between flex-col md:flex-row gap-10 relative">
    <Card content={featuresMobile.first} loading="eager" />
    <div>
      <Image
        src="/airplain-route.svg"
        alt="airplain route"
        aria-hidden="true"
        class="absolute left-1/2 lg:-top-36 xl:-top-48 -translate-x-1/2 hidden lg:block"
        width={90}
        height={100}
        loading={"eager"}
      />
    </div>
    <Card specificClass="pt-10 md:mt-60" content={featuresMobile.second} loading={"lazy"} />
  </div>
  <div
    class="flex justify-between flex-col md:flex-row mt-10 md:-mt-28 relative gap-10"
  >
    <Card content={featuresMobile.third} loading={"lazy"} />
    <Image
      src="/boat-route.svg"
      alt="airplain route"
      aria-hidden="true"
      class="absolute -top-60 left-1/2 -translate-x-1/2 hidden lg:block"
      width={58}
      height={320}
      loading={"lazy"}
    />
    <Image
      src="/train-route.svg"
      alt="airplain route"
      aria-hidden="true"
      class="absolute top-56 left-1/2 -translate-x-1/2 hidden lg:block"
      width={58}
      height={320}
      loading={"lazy"}
    />
    <Card specificClass="pt-10 md:mt-60" content={featuresMobile.fourth} loading={"lazy"} />
  </div>
</section>
