---
import { Image } from "astro:assets";
import Time from "./Time.astro";
import ContactForm from "./ContactForm";
---

<section
  class="w-full md:min-w-[450px] mx-auto max-w-6xl flex flex-col lg:flex-row gap-10 my-10 px-4 md:mt-20 lg:-mt-30 mt-40"
>
  <div class="w-full lg:w-1/2 lg:min-h-[450px]">
    <h3
      id="contact-form"
      class="font-extrabold text-3xl py-4 mt-2 bg-[var(--color-cloud)] flex items-center justify-center lg:justify-start gap-2"
    >
      ¡El destino lo eliges tú!
      <Image
        src="/ubication.svg"
        alt="Ilustración de un hombre con un mapa"
        class="w-6 h-6"
        width={6}
        height={6}
      />
    </h3>
    <ContactForm client:visible />
  </div>
  <div class="w-full lg:w-1/2 flex items-end"><Time /></div>
</section>
