---
import "/src/styles/global.css";

const night = "#171721"
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/isologo.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>Viviana Palominos - Agente de Viajes</title>
    <meta name="description" content="Viaja con confianza, explora con facilidad" />
  </head>
  <body>
    <slot />
  </body>
</html>

<style is:global>
  html,
  body {
    margin: 0;
    width: 100%;
    height: 100%;
    background-color: #dae1e7;
    scroll-behavior: smooth;
  }
  :root {
    --color-cloud: #dae1e7;
    --color-night: #171721;
    --color-water: #5ec3b7;
    --color-sky: #1b4ea7;
  }
</style>
